<div class="container-custom2 mb-3">
  <h2 class="text-center">Vista 2 | Estás en new_event | http://localhost:3000/events/new</h2>
  <h4 class="text-center">Nombre del evento</h4>
  <p class="text-center">Find me in app/views/events/new.html.erb</p>

  <%= simple_form_for @event do |f| %>
    <div class="mb-3">
      <h5> <%= f.input :name, placeholder: '🍽 Nombre del evento' %></h5>
      <h5> <%= f.input :name, placeholder: '👤 Escribe tu nombre' %></h5>
      <h5> <%= f.input :name, placeholder: '🧾 Monto de la cuenta' %></h5>
    </div>
    <div class="d-grid">
      <%= f.submit 'Submit', class: 'btn btn-custom btn-yellow' %>
    </div>
  <% end %>
</div>
