<div class="container-custom222 ">

  <div class= "row">
  <div class="text-center my-3">
    <%= image_tag "Logo2.png", alt: "Logo2", class: "logo2-image" %>
  </div>
  </div>


  <%= simple_form_for @event do |f| %>
    <div class="mb-3">
      <h5 class="text-black"> <%= f.input :name,  label:"Â¿Cual es tu evento?",  placeholder: 'ðŸ½ Nombre del evento' %></h5>
 <h5 class="text-black"> <%= f.input :photo,  label:"Â¿agrega photo?",  as: :file %></h5>
    </div>
    <div class="d-grid">
      <%= f.submit 'Crear', class: 'btn btn-custom btn-yellow' %>
    </div>
  <% end %>

</div>
