<h1>Estado de la cuenta </h1>
<p>Total de la cuenta: <%= number_to_currency(@bill.total_amount) %></p>
<p>Monto total de los Items: <%= number_to_currency(@bill.sum_items) %></p>
<p>Monto pendiente de asignar: <%= number_to_currency(@bill.remaining_amount) %></p>

<h3>Cuentas por participante: </h3>
<p>Numero de usuarios: <%= @bill.participants_count %></p>
<table>
    <% @bill.consumption_by_user.each do |user, amount| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= number_to_currency(amount) %></td>
      </tr>
    <% end %>
</table>