<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetPay - Calcular</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="custom-layout">
        <div class="container-custom3">
            <h1>Calcular</h1>

            <div class="calculation-result">
                <h4>¡El cálculo está listo!</h4>

                <div class="result-box">
                    <h5>Cada uno debe pagar:</h5>
                    <% @bill.consumption_by_user.each do |user, amount| %>
                        <div class="user-amount">
                            <strong><%= user.nickname %></strong>
                             <strong>$<%= number_to_currency(amount, unit: '') %></strong>
                            <strong>$<%= number_to_currency(amount + ((amount.to_f * @tip_percent) / 100), unit: '') %></strong>
                            <!-- Agregue el calculo
                            amount + ((amount.to_f * @tip_percent) / 100)
                            para que se muestre el total a pagar por cada usuario
                            Agregue  <h6 class=" text-black">P:<%= "#{@tip_percent}%"%></h6> para mostrar el porcentaje de propina
                            -->
                            <h6 class=" text-black">P:<%= "#{@tip_percent}%"%></h6>
                        </div>
                    <% end %>


                  <!--Propina-->
<%# @users.each do |user| %>
    <%= simple_form_for @tip  do |f| %>

      <!-- @tip direcciona a la ruta  post "bills/:id/calculate/tips", to: "tips#create", as: :tips-->
      <div class="form-check form-check-inline">
        <%= f.radio_button :tip, '10', class: 'form-check-input', id: 'tip_10' %>
        <%= f.label "tip_10", class: "form-check-label", for: "tip_10" do %>
          <i class="far fa-circle"></i> 10%
        <% end %>
      </div>
        <div class="form-check form-check-inline">
        <%= f.radio_button :tip, '15', class: 'form-check-input', id: 'tip_15' %>
        <%= f.label "tip_15", class: "form-check-label", for: "tip_15" do %>
          <i class="far fa-circle"></i> 15%
        <% end %>
      </div>
        <div class="form-check form-check-inline">
        <%= f.radio_button :tip, '20', class: 'form-check-input', id: 'tip_20' %>
        <%= f.label "tip_20", class: "form-check-label", for: "tip_20" do %>
          <i class="far fa-circle"></i> 20%
        <% end %>
      </div>
        <%= f.submit 'Añadir', class: 'btn btn-custom btn-yellow mt-3' %>
    <% end %>
  <%# end %>



                    <h5>Falta asignar:</h5>
                        <div class="remaining-amount">
                            <%= number_to_currency(@bill.remaining_amount) %>
                        </div>

                    <button class="btn btn-custom btn-green w-100">Compartir</button>
                </div>

                <%= link_to "Nuevo", root_path, class: "btn btn-custom btn-warning w-100" %>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="button-container">
            <%= link_to participants_bill_path(@bill), class: "icon-button" do %>
                <i class="bi bi-person"></i>
                <p>Participantes</p>
            <% end %>
            <%= link_to items_bill_path(@bill), class: "btn-circle" do %>
                <i class="bi bi-plus"></i>
            <% end %>
            <%= link_to calculate_bill_path(@bill), class: "icon-button" do %>
                <i class="bi bi-receipt"></i>
                <p>La cuenta</p>
            <% end %>
        </div>
    </div>
</body>
</html>
