
<div class = "items" >
 <div class = "mb-5 mt-4" style="display: flex; align-items: center;">
  <i class="bi bi-arrow-left-circle-fill" style="font-size: 24px; margin-right: 10px;"></i>
  <h4 style="margin: 0;">Añadir un platillo</h4>
 </div>
  <%= simple_form_for ([@bill, @item]) do |f| %>
      <%= "Categoria de comida" %>
    <%= f.select :category, options_for_select(%w[Postres Bebidas Entradas Platosfuertes Otros]), {}, { class: 'form-control rounded-2', style: "background-color: #E2FBD8;" } %>
    <%= f.input :price, placeholder: '$ Precio', input_html: { class: 'form-control rounded-2', style: "background-color: #E2FBD8;"  } %>
    <%= f.submit 'Añadir', class: 'btn btn-custom btn-dark w-100 mt-3' %>
  <% end %>
</div>


<div class="footer p-4 border border-primary mt-5" style="width: 400px; height: 120px; background-color: #8cbf69; position: fixed; bottom: 0;">
  <div class="row">
    <div class="col-4">
      <div class="container p-4 border border-primary" style="width: 100px; height: 100px;">
        <img src="https://cdn-icons-png.flaticon.com/512/359/359657.png" alt="Icono de ejemplo" width="50px" height="50px" color="red">
      </div>
    </div>
    <div class="col-4">
      <div class="container  border border-primary " style="width: 100px; height: 100px;">
 <img src="https://cdn-icons-png.flaticon.com/512/1828/1828926.png" alt="Icono de ejemplo" width="80px" height="80px">
      </div>
    </div>
    <div class="col-4">
      <div class="container p-4 border border-primary" style="width: 100px; height: 100px;">
        <img src="https://cdn-icons-png.flaticon.com/512/3533/3533887.png" alt="Icono de ejemplo" width="50px" height="50px">
      </div>
    </div>
  </div>
</div>
