<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container-custom3">
    <h1>show | Vista 4</h1>
    <p>Find me in app/views/bills/show.html.erb</p>
    <p>Poner abajo el display de los items</p>

    <% @bill.items.each do |item| %>
      <div class="item-display d-flex justify-content-between mt-3">
        <p>
          <strong><%= item.user.email %></strong>
          <strong><%= item.category %></strong>
          <strong>$ <%= item.price %></strong>
        </p>
      </div>
    <% end %>

    <p>Aqui van agregar los items</p>

    <%= simple_form_for ([@bill, @item]) do |f| %>
      <div class="form-group">
        <%= f.select :category, options_for_select(%w[Postres Bebidas Entradas Platosfuertes Otros]), {}, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :price, input_html: { class: 'form-control' } %>
      </div>
      <%= f.submit 'Añadir', class: 'btn btn-custom btn-green w-100 mt-3' %>
    <% end %>
  </div>

  <div class="linea-verde">
  <div class="button-container">
    <%= link_to participants_bill_path(@bill), class: "icon-button" do %>
      <i class="bi bi-person"></i>
      <p>El parche</p>
    <% end %>
    <%= link_to items_bill_path(@bill), class: "btn-circle" do %>
      <i class="bi bi-check"></i>
    <% end %>
    <%= link_to calculate_bill_path(@bill), class: "icon-button" do %>
      <i class="bi bi-receipt"></i>
      <p>La cuenta</p>
    <% end %>
  </div>
</div>

</body>
</html>
