<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetPay - Participantes</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="custom-layout">
        <div class="container-custom3">
            <h1>Participantes</h1>
            <h1 class="badge bg-<%= current_user.color %>"> <%= current_user.color %> </h1>
            <div class="participants-container">
                <% @participants.each do |participant| %>
                    <div class="participant-card participant-card--<%= participant.color %>">
                        <%= participant.nickname %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="button-container">
            <%= link_to participants_bill_path(@bill), class: "icon-button" do %>
                <i class="bi bi-person"></i>
                <p>Participantes</p>
            <% end %>
            <%= link_to items_bill_path(@bill), class: "btn-circle" do %>
                <i class="bi bi-plus"></i>
            <% end %>
            <%= link_to calculate_bill_path(@bill), class: "icon-button" do %>
                <i class="bi bi-receipt"></i>
                <p>La cuenta</p>
            <% end %>
        </div>
    </div>
</body>
</html>
